body{
    margimn: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    background-image: linear-gradient(125deg,#142d64,#0f0050);
}
.container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #0051ff
}
.container h1{
    font-size: 200px;
    font-weight: 900;
    margin: 0;
    letter-spacing: 10px;
    background: url(er.png) centre no-repeat;
    color: rgb(15, 99, 255);
}
.container a{
    text-decoration: none;
}